@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  @include mobile-styling;

  &__button {
    @include button;
  }

  &__item {
    padding-bottom: 0.5rem;
  }

  &__input {
    @include height-width(2rem, 100%);
    border-radius: 0.5rem;
    padding: 0 0 0.2rem 0.25rem;
  }

  &__requests {
    @include height-width(3rem, 100%);
    border-radius: 0.5rem;
    padding: 0 0 1.5rem 0.25rem;
  }
}

.submit-background {
  @include modal-positioning(fixed, 6);
  background-color: $secondary-color-light;
  @include height-width(300%, 100%);
  overflow: hidden;
}
