@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  @include mobile-styling;

  &__button {
    border: 0.15rem solid $secondary-color-dark;
    border-radius: 0.5rem;
    background-color: $secondary-color-light;
    padding: 0.5rem 1rem;
    width: 100%;
    margin-top: 1rem;
  }

  &__item {
    padding-bottom: 0.5rem;
  }

  &__input {
    @include height-width(2rem, 100%);
    border-radius: 0.5rem;
  }

  &__requests {
    @include height-width(3rem, 100%);
    border-radius: 0.5rem;
  }
}
