@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navigation {
  background-color: $primary-color-light;

  &__menu {
    @include flex-box(space-evenly, baseline);

    @include tablet {
      @include flex-box(flex-end, flex-end, nowrap, column);
      padding: 0 2rem;
    }

    @include desktop {
      padding: 0 6rem 2rem 6rem;
    }
  }

  &__link {
    list-style: none;
    padding-right: 1rem;
    color: $primary-color;
    text-decoration: none;

    @include tablet {
      padding-right: 0;
    }

    &:hover {
      color: $primary-color-dark;
    }
  }
}
