@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  @include mobile-styling;
  @include flex-box(space-between, flex-start);

  &__logo {
    @include height-width(6rem, auto);
  }
}

.location {
  width: 30%;

  &__title {
    padding-bottom: 0.5rem;
  }
}

.contact {
  width: 40%;

  &__title {
    padding-bottom: 0.5rem;
  }
}

.socials {
  &__icon {
    @include height-width(2rem, 2rem);
    fill: $primary-color-dark;
    padding-left: 0.5rem;
    width: 30%;

    &:hover {
      fill: $secondary-color-dark;
    }
  }
}
