@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: $primary-color-light;
  @include flex-box(space-between, center);
  padding: 1rem;

  &__logo {
    fill: $primary-color-dark;
    @include height-width(2rem, 2rem);
    padding-right: 0.5rem;
  }

  &__left {
    @include flex-box(center, center);
  }

  &__navigation {
    @include flex-box(space-between, baseline);
  }

  &__link {
    list-style: none;
    padding-right: 1rem;
  }
}
