@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  @include mobile-styling;

  @include tablet {
    padding: 2rem 2rem 0 2rem;
  }

  @include desktop {
    @include desktop-padding;
  }

  &__top {
    @include flex-box(space-between, center);
    position: relative;
  }

  &__logo {
    @include logo;
  }

  &__icon {
    @include height-width(1.5rem, 1.5rem);
    fill: $primary-color;

    :hover {
      cursor: pointer;
    }

    @include tablet {
      @include height-width(2rem, 2rem);
    }
  }
}
