@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.confirm-modal {
  background-color: $primary-color-light;
  position: absolute;
  @include height-width(100vh, 100vw);
  left: 0rem;
  top: 0rem;
  z-index: 3;
}
