@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.breakdown {
  @include mobile-styling;

  &__item {
    padding-bottom: 0.5rem;
  }

  &__top {
    @include reservation-section-title;
  }

  &__title {
    min-width: 8.5rem;
  }

  &__border {
    @include reservation-title-border;
  }

  &__category {
    @include reservation-section-title;
  }

  &__total {
    padding-top: 0.5rem;
  }
}
