$primary-color-dark: #332f2e;
$primary-color: #4b5358;
$primary-color-light: #efe0f1;
$secondary-color-dark: #275c47;
$secondary-color: #598f77;
$secondary-color-light: #d2e4d6;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
