$primary-color-dark: #3e4a36; // A deeper green-gray tone
$primary-color: #7c9274; // A richer, greener base with more yellow
$primary-color-light: #f5f9f3; // A softer green-gray, leaning sage

$secondary-color-dark: #53483e; // A dark wood-grain brown/gray tone
$secondary-color: #9b8f80; // A base wood-grain brown/gray tone
$secondary-color-light: #d6cdc0; // A light wood-grain brown/gray tone
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
