$primary-color-dark: #332f2e;
$primary-color: #4b5358;
$primary-color-light: #efe0f1;
$secondary-color-dark: black;
$secondary-color: #727072;
$secondary-color-light: #d2d6ef;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
